#noticias-noticias,#noticia-noticias{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 5%;
    flex-wrap: wrap;

}

#noticias-noticias a img,#noticia-noticias a img{
    width: 25%;
}

.noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px;
    width: 25%;
    margin: 15px auto; /* Centrar y añadir separación */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    
}

.noticias h2,.noticia h2{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #555; /* Gris más oscuro para el título */
    border-bottom: 1px solid #ddd; /* Línea gris suave debajo */
    padding-bottom: 5px;
}

.noticias p,.noticia p{
    font-size: 1.1em;
    margin: 8px 0;
    color: #666; /* Gris medio para el texto */
}

.noticias:hover,.noticia:hover {
    background-color: #e6e6e6; /* Fondo gris más oscuro al pasar el mouse */
    color: #444; /* Texto ligeramente más oscuro */
    
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

.verMas,.volver{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgb(131, 131, 131);
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    height: 20%;
    padding: 2%;
}

.verMas:hover,.volver:hover{
    background-color: rgb(148, 147, 147);
    color: white;
    box-shadow: 0.5px 0.5px 5px 1px gray;
}

#noticia-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.noticia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px;
    width: 60%;
    margin: 15px auto; /* Centrar y añadir separación */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    color: rgb(216, 213, 213);

}
