*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(90, 90, 90);
    text-align: center;
    padding: 10px;
}

h1 {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-image: url(../assets/fondo-header1.png);
    background-size: contain; /* Asegura que la imagen cubra todo el texto */
    -webkit-background-clip: text;
    background-clip: text; /* Asegúrate de agregar esto para navegadores no webkit */
    color: transparent; /* Asegúrate de que el color del texto sea transparente */
    font-size: 4em; /* Ajusta el tamaño del texto según sea necesario */
    display: inline-block; /*Esto es importante para que funcione el clip*/
    
}

ul>li>a{
    color: bisque;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    gap: 5%;
}
/*##########################################################*/


